<div class=" container-fluid text-center text-white bgg position-fixed">
    <div class="row">
        <div class="col-4">
            <h2>2215 John Daniel Drive</h2>
            <p>Clark, MO 65243
            </p>
        </div>
        <div class="col-4">
            <h2>AROUND THE WEB</h2>

        </div>
        <div class="col-4">
            <h2>ABOUT FREELANCER</h2>
            <p class="lead">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
        </div>
    </div>
    <p class="lead">Copyright © Your Website 2021</p>
</div>