<nav class="navbar navbar-light bg-light px-5">
    
    <div class="container-fluid">
      <a class="navbar-brand" [ngClass]="{'text-white':true ,'bg-danger':true}">START ANGULAR</a>
      <form class="d-flex w-25 justify-content-between">
        <a class="btn btn-outline-success" routerLinkActive="btn-success text-white" routerLink="home">Home</a>
        <a class="btn btn-outline-success" routerLinkActive="btn-success text-white" routerLink="protfilio">Portoflio</a>
        <a class="btn btn-outline-success" routerLinkActive="btn-success text-white" routerLink="about">About</a>
        <a class="btn btn-outline-success" routerLinkActive="btn-success text-white" routerLink="contact">Contact</a>
      </form>
    </div>
  </nav>